	  <%= form_for(Bookmark.new) do |f|%>
	  <div class="url_panel">
		<%= f.label :url, "URL: " %><br />
		<%= f.text_field :url %>
	  </div>
	  
	  <div class="alias_panel">
		<%= f.label :name_alias, "Alias: " %><br />
		<%= f.text_field :name_alias %>
	  </div>
		
	  <div class="visibility_panel">
		<%= f.label :visibility, "Visibility: " %>
		<br />
		<span>
			<%= f.radio_button :visibility, 'public', :checked => true %>public
			<%= f.radio_button :visibility, 'private' %>private
		</span>
	  </div>
	  
	  <div class="actions">
		<%= f.submit "Add Bookmark" %>
	  </div>
	  
	  <% end %>

   	<span class="current_user">Current User: <%= current_user.email %></span>
	<span class="sign_out_option">Tired of looking at bookmarks?  <%= link_to "Sign out", destroy_user_session_path %></span>

  
  <table class="bookmark_table">
	<% current_user.bookmarks.each do |b| %>
      <tr>
	    <td class="url_display"><a href="<%= b.url %>" target="_blank"><%= truncate(b.url, :length => 34, :omission => "...") %></a></td>
		<td class="alias_display"><%= b.name_alias %></td>
	    <td class="visibility_display">
		  <% if b.visibility == "private" %>
		    <span class="private_descriptor"><%= b.visibility %></span>
		  <% elsif b.visibility == "public" %>
		    <span class="public_descriptor"><%= b.visibility %></span>
		  <% end %>
		</td>
		<td> 
		  <%= link_to 'Delete Link', b, :confirm => 'Are you sure?', :method => :delete, :user_id => current_user.id %>
		</td>
		<td>
		  <%= link_to 'Edit Link' %>
		</td>
	  </tr>
	<% end %>  
  </table>	  
  
<div id="flashes">
  <% if flash[:alert] %>
    <span><%= flash[:alert] %></span>
  <% end %>
  <% flash[:alert] = nil %>
</div>
  
  Browse other users with accounts: [To do: Search other bookmarks?  Or universal search?]
  </br>
  <% User.where(["ID != ?", current_user.id]).each do |u| %>
    <span class="general_user"> User: <%= u.email %> </span> | [To do: Hide with JQuery option]
    <table class="bookmark_table">
    <% u.bookmarks.public.each do |bk| %>
      <tr>
	   	  <td class="url_display"><a href="<%= bk.url %>" target="_blank"><%= truncate(bk.url, :length => 34, :omission => "...") %></a></td>
		  <td class="alias_display"><%= bk.name_alias %></td>
		  <td><%= link_to 'To do: Pilfer Link' %></td>
	  </tr>
	<% end %>  
  </table>	
  <% end %> 
b